// 暗色标签
@mixin dark-tag($normal: var(--t-brand-normal),
  $hover: var(--t-brand-hover),
  $click: var(--t-brand-click),
  $disabled: var(--t-brand-disabled),
) {
  color: var(--t-text-white-1);
  background-color: $normal;

  // 禁用状态
  &.t-tag--disabled {
    background-color: $disabled;

    .t-tag__close-btn {
      cursor: not-allowed;
    }
  }

  // 悬浮状态
  &.t-tag--hover {
    background-color: $hover;
  }

  // 激活状态
  &.t-tag--active {
    background-color: $click;
  }
}

// 亮色标签
@mixin light-tag($normal: var(--t-brand-normal),
  $hover: var(--t-brand-hover),
  $click: var(--t-brand-click),
  $disabled: var(--t-brand-disabled),
  $light: var(--t-brand-light),
) {
  color: $normal;
  background-color: $light;

  // 禁用状态
  &.t-tag--disabled {
    color: $disabled;

    .t-tag__close-btn {
      cursor: not-allowed;
    }
  }

  // 悬浮状态
  &.t-tag--hover {
    color: var(--t-text-white-1);
    background-color: $hover;

    .t-tag__close-btn {
      color: var(--t-text-white-1);
    }
  }

  // 激活状态
  &.t-tag--active {
    color: var(--t-text-white-1);
    background-color: $click;

    .t-tag__close-btn {
      color: var(--t-text-white-1);
    }
  }
}

// 扁平标签
@mixin plain-tag($normal: var(--t-brand-normal),
  $hover: var(--t-brand-hover),
  $click: var(--t-brand-click),
  $disabled: var(--t-brand-disabled),
) {
  color: $normal;
  background-color: var(--t-neutral-1-gray-3);

  // 禁用状态
  &.t-tag--disabled {
    color: $disabled;
    background-color: var(--t-neutral-1-gray-1);

    .t-tag__close-btn {
      cursor: not-allowed;
    }
  }

  // 悬浮状态
  &.t-tag--hover {
    color: $hover;
    background-color: var(--t-neutral-1-gray-4);

    .t-tag__close-btn {
      color: $hover;
    }
  }

  // 激活状态
  &.t-tag--active {
    color: $click;
    background-color: var(--t-neutral-1-gray-6);

    .t-tag__close-btn {
      color: $click;
    }
  }
}

@mixin dark-link-tag($hover: var(--t-brand-hover),
  $click: var(--t-brand-click),
) {
  &:not(.t-tag--disabled) {
    &:hover {
      background-color: $hover;
    }

    &:active {
      background-color: $click;
    }
  }
}

// 亮色标签
@mixin light-link-tag($hover: var(--t-brand-hover),
  $click: var(--t-brand-click),
) {
  &:not(.t-tag--disabled) {
    &:hover {
      color: $hover;
    }

    &:active {
      color: $click;
    }
  }
}

// 扁平标签
@mixin plain-link-tag($hover: var(--t-brand-hover),
  $click: var(--t-brand-click),
) {
  &:not(.t-tag--disabled) {
    &:hover {
      color: $hover;
    }

    &:active {
      color: $click;
      background-color: var(--t-neutral-1-gray-6);
    }
  }
}