@import "packages/Style/mixin.scss";

div.t-radio-group {

  // 单选按钮组
  &.t-radio-button-group {
    width: fit-content;
    display: flex;
    align-items: center;

    // 单选按钮
    label.t-radio-button {
      cursor: pointer;
      box-sizing: border-box;
      position: relative;
      margin: 0;

      input[type=radio] {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
      }

      // 文本
      .t-radio-button__label {
        color: var(--t-text-gray-2);
      }

      // 禁用
      &.t-radio-button--disabled {
        cursor: not-allowed;
      }
    }

    // 框线形式
    &.t-radio-group--outline {

      // 单选按钮
      label.t-radio-button {
        border: 1px solid #dcdcdc;
        border-right-width: 0;

        // 文本
        .t-radio-button__label {
          transition: color 0.24s linear;
        }

        // 选中状态
        &.t-radio-button--checked {
          border: 1px solid var(--t-brand-normal);

          .t-radio-button__label {
            color: var(--t-brand-normal);
          }
        }

        // 选中的下一个节点
        &.t-radio-button--checked+.t-radio-button {
          border-left-width: 0;
        }

        // 悬浮状态
        &:not(.t-radio-button--disabled):not(.t-radio-button--checked):hover {

          .t-radio-button__label {
            color: var(--t-brand-normal);
          }
        }

        // 禁用
        &.t-radio-button--disabled {
          background-color: var(--t-neutral-1-gray-2);

          .t-radio-button__label {
            color: var(--t-text-gray-4);
          }

          // 选中状态
          &.t-radio-button--checked {
            border-color: var(--t-brand-focus);
            border-right-width: 1;
            background: none;

            .t-radio-button__label {
              color: var(--t-brand-focus);
            }
          }
        }

        &:first-child {
          border-radius: 3px 0 0 3px;
        }

        &:last-child {
          border-radius: 0 3px 3px 0;
          border-right-width: 1px;
        }
      }
    }

    // 默认填充形式
    &.t-radio-group--default-filled {
      padding: 2px;
      border-radius: 3px;
      background-color: var(--t-neutral-1-gray-3);

      // 单选按钮
      label.t-radio-button {
        border-radius: 2px;

        // 选中状态
        &.t-radio-button--checked {
          background-color: var(--t-neutral-1-white-1);

          .t-radio-button__label {
            color: var(--t-text-gray-1);
          }
        }

        // 悬浮状态
        &:not(.t-radio-button--disabled):not(.t-radio-button--checked):hover {

          .t-radio-button__label {
            color: var(--t-text-gray-1);
          }
        }

        // 禁用状态
        &.t-radio-button--disabled {

          .t-radio-button__label {
            color: var(--t-text-gray-4);
          }

          // 选中状态
          &.t-radio-button--checked {
            background-color: var(--t-neutral-1-gray-1);
          }
        }

        &:nth-child(n + 2) {
          margin-left: 4px;
        }
      }
    }

    // 品牌色填充形式
    &.t-radio-group--primary-filled {
      padding: 2px;
      border-radius: 3px;
      background-color: var(--t-neutral-1-gray-3);

      // 单选按钮
      label.t-radio-button {
        border-radius: 2px;

        // 选中状态
        &.t-radio-button--checked {
          background-color: var(--t-brand-normal);

          .t-radio-button__label {
            color: var(--t-text-white-1);
          }
        }

        // 悬浮状态
        &:not(.t-radio-button--disabled):not(.t-radio-button--checked):hover {

          .t-radio-button__label {
            color: var(--t-text-gray-1);
          }
        }

        // 禁用状态
        &.t-radio-button--disabled {

          .t-radio-button__label {
            color: var(--t-text-gray-4);
          }

          // 选中状态
          &.t-radio-button--checked {
            background-color: var(--t-brand-disabled);
          }
        }

        &:nth-child(n + 2) {
          margin-left: 4px;
        }
      }
    }

    // 小尺寸
    &.t-radio-group--small {

      .t-radio-button {
        @include t-text-5;
      }

      // 框线形式
      &.t-radio-group--outline {

        .t-radio-button {
          padding: 0 8px;
        }
      }

      // 填充形式
      &.t-radio-group--default-filled,
      &.t-radio-group--primary-filled {

        .t-radio-button {
          padding: 0 8px;
        }
      }
    }

    // 中尺寸
    &.t-radio-group--medium {

      .t-radio-button {
        @include t-text-4;
      }

      // 框线形式
      &.t-radio-group--outline {

        .t-radio-button {
          padding: 4px 16px;
        }
      }

      // 填充形式
      &.t-radio-group--default-filled,
      &.t-radio-group--primary-filled {

        .t-radio-button {
          padding: 3px 16px;
        }
      }
    }

    // 大尺寸
    &.t-radio-group--large {

      .t-radio-button {
        @include t-text-3;
      }

      // 框线形式
      &.t-radio-group--outline {

        .t-radio-button {
          padding: 7px 21px;
        }
      }

      // 填充形式
      &.t-radio-group--default-filled,
      &.t-radio-group--primary-filled {

        .t-radio-button {
          padding: 6px 24px;
        }
      }
    }
  }
}