@import "packages/Style/mixin.scss";

.t-skeleton {

  // 行
  .t-skeleton__row {
    width: 100%;
    display: flex;

    &:nth-of-type(n + 2) {
      margin-top: 8px;
    }
  }

  // 列
  .t-skeleton__col {
    @include t-radius;

    width: 100%;
    background-color: var(--t-neutral-1-gray-1);
    overflow: hidden;
    position: relative;
  }

  // 圆
  .t-skeleton__circle {
    border-radius: 50%;
    background-color: var(--t-neutral-1-gray-1);
    overflow: hidden;
    position: relative;
  }

  // 段落
  &.t-skeleton--theme-paragraph {
    .t-skeleton__row {
      &:first-of-type .t-skeleton__col {
        width: 45%;
      }

      &:last-of-type .t-skeleton__col {
        width: 75%;
      }
    }
  }

  // 头像和描述
  &.t-skeleton--theme-avatar-text {
    .t-skeleton__row {
      align-items: center;

      .t-skeleton__circle {
        margin-right: 16px;
      }

      .t-skeleton__col {
        flex: 1;
      }
    }
  }

  // 小尺寸
  &.t-skeleton--size-small {
    .t-skeleton__col {
      height: 8px;
    }

    .t-skeleton__circle {
      width: 24px;
      height: 24px;
    }

    // 选项卡
    &.t-skeleton--theme-tab {
      .t-skeleton__row {
        &:nth-of-type(1) .t-skeleton__col {
          height: 18px;
        }

        &:nth-of-type(2) .t-skeleton__col {
          height: 120px;
        }
      }
    }

    // 文章
    &.t-skeleton--theme-article {
      .t-skeleton__row {
        &:not(:nth-of-type(2)) .t-skeleton__col {
          height: 18px;
          flex: 1;

          &:not(:first-of-type) {
            margin-left: 9px;
          }
        }

        &:nth-of-type(2) .t-skeleton__col {
          height: 120px;
        }
      }
    }
  }

  // 中尺寸
  &.t-skeleton--size-medium {
    .t-skeleton__col {
      height: 12px;
    }

    .t-skeleton__circle {
      width: 32px;
      height: 32px;
    }

    // 选项卡
    &.t-skeleton--theme-tab {
      .t-skeleton__row {
        &:nth-of-type(1) .t-skeleton__col {
          height: 24px;
        }

        &:nth-of-type(2) .t-skeleton__col {
          height: 160px;
        }
      }
    }

    // 文章
    &.t-skeleton--theme-article {
      .t-skeleton__row {
        &:not(:nth-of-type(2)) .t-skeleton__col {
          height: 24px;
          flex: 1;

          &:not(:first-of-type) {
            margin-left: 12px;
          }
        }

        &:nth-of-type(2) .t-skeleton__col {
          height: 160px;
        }
      }
    }
  }

  // 大尺寸
  &.t-skeleton--size-large {
    .t-skeleton__col {
      height: 16px;
    }

    .t-skeleton__circle {
      width: 40px;
      height: 40px;
    }

    // 选项卡
    &.t-skeleton--theme-tab {
      .t-skeleton__row {
        &:nth-of-type(1) .t-skeleton__col {
          height: 30px;
        }

        &:nth-of-type(2) .t-skeleton__col {
          height: 200px;
        }
      }
    }

    // 文章
    &.t-skeleton--theme-article {
      .t-skeleton__row {
        &:not(:nth-of-type(2)) .t-skeleton__col {
          height: 30px;
          flex: 1;

          &:not(:first-of-type) {
            margin-left: 15px;
          }
        }

        &:nth-of-type(2) .t-skeleton__col {
          height: 200px;
        }
      }
    }
  }

  // 流光动画效果
  &.t-skeleton--gradient {

    .t-skeleton__col::after,
    .t-skeleton__circle::after {
      content: "";
      width: 100%;
      height: 100%;
      filter: blur(3px);
      background-image: linear-gradient(100deg,
          rgba($color: #e4e4e4, $alpha: 0) 25%,
          #e4e4e4 50%,
          rgba($color: #e4e4e4, $alpha: 0) 75%);
      animation: skeleton-animation-gradient 2s linear infinite;
      display: block;
    }
  }

  // 闪烁动画效果
  &.t-skeleton--flashed {

    .t-skeleton__col,
    .t-skeleton__circle {
      animation: skeleton-animation-flashed 2s linear infinite;
    }

    .t-skeleton__col::after,
    .t-skeleton__circle::after {
      content: "";
      width: 100%;
      height: 100%;
      filter: blur(3px);
      animation: skeleton-animation-flashed 2s linear infinite;
      display: block;
    }

    .t-skeleton__col::after {
      background-image: linear-gradient(100deg,
          rgba($color: #e4e4e4, $alpha: 0) 0%,
          #e4e4e4 50%,
          rgba($color: #e4e4e4, $alpha: 0) 100%);
    }

    .t-skeleton__circle::after {
      background-image: radial-gradient(#e4e4e4 0%,
          rgba($color: #e4e4e4, $alpha: 0) 80%);
    }
  }
}

// 骨架屏渐变动画
@keyframes skeleton-animation-gradient {
  0% {
    transform: translate(-100%);
  }

  100% {
    transform: translate(100%);
  }
}

// 骨架屏闪烁动画
@keyframes skeleton-animation-flashed {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}