@import "packages/Style/mixin.scss";

div.t-divider {
  box-sizing: border-box;

  // 文本内容
  .t-divider__inner-text {
    @include t-text-4;

    padding: 0 1em;
    color: var(--t-text-gray-1);
    display: block;
  }

  // 水平分割线
  &.t-divider--horizontal {
    border-top: 1px solid var(--t-neutral-1-gray-3);
    display: flex;
    margin: 24px 0;

    // 虚线分割线
    &:not(.t-divider--with-text).t-divider--dashed {
      border-top-style: dashed;
    }

    // 有内容的分割线
    &.t-divider--with-text {
      white-space: nowrap;
      border-top: none;
      display: flex;
      align-items: center;

      &::before,
      &::after {
        content: "";
        border-top: 1px solid var(--t-neutral-1-gray-3);
        display: block;
      }

      // 虚线分割线
      &.t-divider--dashed::before,
      &.t-divider--dashed::after {
        border-top-style: dashed;
      }
    }
  }

  // 垂直分割线
  &.t-divider--vertical {
    height: 0.9rem;
    vertical-align: middle;
    border-left: 1px solid var(--t-neutral-1-gray-3);
    display: inline-flex;
    margin: 0 16px;

    // 虚线分割线
    &.t-divider--dashed {
      border-left-style: dashed;
    }
  }

  // 排列靠左
  &.t-divider--left {
    &::before {
      width: 5%;
    }

    ;

    &::after {
      width: 95%;
    }
  }

  // 排列居中
  &.t-divider--center {

    &::before,
    &::after {
      width: 50%;
    }
  }

  // 排列靠右
  &.t-divider--right {
    &::before {
      width: 95%;
    }

    ;

    &::after {
      width: 5%;
    }
  }
}