@import "packages/Style/mixin.scss";

div.t-drawer {
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  margin: 0;

  // 打开的遮罩
  &.t-drawer--open {
    width: 100%;
    height: 100%;
    pointer-events: initial;
  }

  // 仅在挂载节点中显示
  &.t-drawer--inside-element {
    position: absolute;
  }

  // 遮罩层
  .t-drawer__mask {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    background-color: var(--t-drawer-mask, var(--t-text-gray-2));
    position: absolute;
    top: 0;
    left: 0;
  }

  // 抽屉内容
  .t-drawer__content {
    background-color: var(--t-neutral-1-white-1);
    display: flex;
    flex-direction: column;
    position: absolute;

    // 头部
    .t-drawer__header {
      width: 100%;
      min-height: 56px;
      padding: 16px 12px 16px 16px;
      border-bottom: 1px solid var(--t-neutral-1-gray-3);
      box-sizing: border-box;
      display: flex;
      align-items: center;

      // 标题内容
      .t-drawer__title {
        @include t-text-bold-3;

        color: var(--t-text-gray-1);
        flex: 1;
      }

      // 关闭按钮
      .t-drawer__close-btn {
        @include t-text-3;
        @include t-radius;

        width: 24px;
        height: 24px;
        color: var(--t-text-gray-2);
        font-size: 24px;
        cursor: pointer;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: var(--t-neutral-1-gray-1);
        }

        &:active {
          color: var(--t-text-gray-1);
          background-color: var(--t-neutral-1-gray-2);
        }
      }
    }

    // 主体
    .t-drawer__body {
      padding: 12px 16px;
      box-sizing: border-box;
      flex: 1;
    }

    // 底部
    .t-drawer__footer {
      @include t-text-4;

      width: 100%;
      padding: 12px 16px;
      box-sizing: border-box;
      border-top: 1px solid var(--t-neutral-1-gray-3);
      display: flex;
      align-items: center;
    }

    // 拖拽器
    .t-drawer__dragger {
      user-select: none;
      border-color: rgba($color: #000000, $alpha: 0);
      transition: border-color 0.24s linear;
      display: block;
      position: absolute;

      &:hover {
        border-color: rgba($color: #000000, $alpha: 0.05);
      }
    }
  }

  // 上方抽屉
  &.t-drawer--top {
    .t-drawer__content {
      width: 100%;
      height: 480px;
      box-shadow: 0 3px 14px 2px rgba($color: #000000, $alpha: 0.05),
        0 8px 10px 1px rgba($color: #000000, $alpha: 0.06),
        0 5px 5px -3px rgba($color: #000000, $alpha: 0.1);
      top: 0;
      left: 0;

      .t-drawer__footer {
        justify-content: flex-end;
      }

      // 拖拽器
      .t-drawer__dragger {
        width: 100%;
        height: 0;
        border-top-width: 6px;
        border-top-style: solid;
        border-bottom-width: 6px;
        border-bottom-style: solid;
        cursor: row-resize;
        bottom: -6px;
        left: 0;
      }
    }
  }

  // 下方抽屉
  &.t-drawer--bottom {
    .t-drawer__content {
      width: 100%;
      height: 480px;
      box-shadow: 0 -3px 14px 2px rgba($color: #000000, $alpha: 0.05),
        0 -8px 10px 1px rgba($color: #000000, $alpha: 0.06),
        0 -5px 5px -3px rgba($color: #000000, $alpha: 0.1);
      bottom: 0;
      left: 0;

      .t-drawer__footer {
        justify-content: flex-end;
      }

      // 拖拽器
      .t-drawer__dragger {
        width: 100%;
        height: 0;
        border-top-width: 6px;
        border-top-style: solid;
        border-bottom-width: 6px;
        border-bottom-style: solid;
        cursor: col-resize;
        top: -6px;
        left: 0;
      }
    }
  }

  // 左侧抽屉
  &.t-drawer--left {
    .t-drawer__content {
      width: 480px;
      height: 100%;
      box-shadow: 3px 0 14px 2px rgba($color: #000000, $alpha: 0.05),
        8px 0 10px 1px rgba($color: #000000, $alpha: 0.06),
        5px 0 5px -3px rgba($color: #000000, $alpha: 0.1);
      top: 0;
      left: 0;

      .t-drawer__footer {
        justify-content: flex-end;
      }

      // 拖拽器
      .t-drawer__dragger {
        width: 0;
        height: 100%;
        border-left-width: 6px;
        border-left-style: solid;
        border-right-width: 6px;
        border-right-style: solid;
        cursor: col-resize;
        top: 0;
        right: -6px;
      }
    }
  }

  // 右侧抽屉
  &.t-drawer--right {
    .t-drawer__content {
      width: 480px;
      height: 100%;
      box-shadow: -3px 0 14px 2px rgba($color: #000000, $alpha: 0.05),
        -8px 0 10px 1px rgba($color: #000000, $alpha: 0.06),
        -5px 0 5px -3px rgba($color: #000000, $alpha: 0.1);
      top: 0;
      right: 0;

      // 拖拽器
      .t-drawer__dragger {
        width: 0;
        height: 100%;
        border-left-width: 6px;
        border-left-style: solid;
        border-right-width: 6px;
        border-right-style: solid;
        cursor: col-resize;
        top: 0;
        left: -6px;
      }
    }
  }
}